/* VARIABLES */
:root {
  --light-background: #f2ece4;
  --light-text: #036;
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-line-height : 1.5; */
}

/* MIXINS */ /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v34-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.header-top__list {
  width: 100%;
  max-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-top__item {
  margin-right: 33px;
}

.header-top__item:last-child {
  margin-right: 0;
}

.header-top__link {
  font-size: 12px;
  line-height: 16px;
  color: #151515;
  text-decoration: none;
}

.header-top__link:hover {
  color: #151515;
}

.header-top__link--active {
  color: #6A983C;
}

.header-top__link--active:hover {
  color: #6A983C;
}

.header-top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: right;
}

.header-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: right;
}

.header-top__right-list {
  width: 100%;
  max-width: 197px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-top__right-item {
  margin-right: 38px;
}

.header-top__right-item:last-child {
  margin-right: 0;
}

.header-top__right-link {
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
  text-decoration: none;
}

.header-top__right-link:hover {
  color: #6A983C;
}

.header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-center__box {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  border: 1px solid #D1D1D1;
  background-image: url(../images/search-logo.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 220px) 50%;
}

.header-bottom {
  margin-top: 48px;
  background-color: #f9f9f9;
}

.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.form-select {
  position: relative;
  width: 150px;
  border: none;
  font-weight: 700;
  background-color: transparent;
  background: none;
  background-image: url(../../images/select-down.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 30px) 50%;
}

.form-select-1 {
  width: 100px;
}

.form-select-2 {
  width: 180px;
  background-position: calc(50% + 70px) 50%;
}

.form-select-3 {
  background-position: calc(50% + 50px) 50%;
}

.form-select-4 {
  width: 100px;
}

.form-select-5 {
  width: 100px;
}

.form-select-6 {
  width: 150px;
  background-position: calc(50% + 60px) 50%;
}

.form-select-7 {
  width: 100px;
}

.form-select-8 {
  width: 120px;
}

.header-center__input {
  padding-top: 11px;
  padding-right: 15px;
  padding-left: 12px;
  padding-bottom: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}

.header-center__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.header-center__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.header-center__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.header-center__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.header-center__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}

.header-center__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-center__user-box {
  margin-right: 40px;
  background-image: url(../images/user-logo.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: contain;
}

.header-center__user-sell {
  position: relative;
  background-image: url(../images/savat-icon.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: contain;
}

.header__hamburger {
  display: none;
}

.translate-middle {
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% + 10px);
  right: calc(50% - 10px);
}

.header-center__text {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 4px);
  font-size: 13px;
}

.header-bottom__select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.form-select {
  font-size: 14px;
}

.form-select:focus {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}

.header-bottom__select-2 {
  font-size: 15px;
}

@media only screen and (max-width: 888px) {
  .header-center__box {
    max-width: 300px;
    background-position: calc(50% + 135px) 50%;
  }
  .header-center__input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .header-center__input::-moz-placeholder {
    font-size: 12px;
  }
  .header-center__input:-ms-input-placeholder {
    font-size: 12px;
  }
  .header-center__input::-ms-input-placeholder {
    font-size: 12px;
  }
  .header-center__input::placeholder {
    font-size: 12px;
  }
  .header-center__input {
    padding-right: 0;
    padding-left: 0;
  }
  .user-input {
    width: 110px;
    font-size: 11px;
  }
}
@media only screen and (max-width: 660px) {
  .header-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo__img {
    margin-bottom: 20px;
  }
  .header-center__box {
    margin-bottom: 20px;
  }
  .header-center__user {
    margin-left: auto;
  }
}
@media only screen and (max-width: 575px) {
  .header-top__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-top__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo__img {
    width: 130px;
    height: 15px;
  }
}
@media only screen and (max-width: 412px) {
  .header-top__item {
    margin-right: 0;
  }
  .header-top__right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header-top__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header-center__input {
    width: 140px;
  }
  .header-center__box {
    background-position: calc(50% + 125px) 50%;
  }
}
@media only screen and (max-width: 320px) {
  label {
    width: 100px;
  }
  .header-center__input {
    width: 130px;
  }
  .header-center__box {
    background-position: calc(50% + 120px) 50%;
  }
}
.modal-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #151515;
}

.modal-header {
  border-bottom: none;
}

.modal-close {
  position: absolute;
  right: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D1D1D1;
}

.modal-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.btn:hover {
  border: 1px solid transparent;
}

.btn-success {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}

.second-modal {
  padding-bottom: 100px;
}

.modal-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.modal-content {
  width: 400px;
}

.modal-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-product__img {
  width: 100px;
  height: 67px;
  margin-right: 16px;
}

.modal-product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-product__theme {
  margin-bottom: 4px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.modal-product__name {
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.modal-product__main-name {
  margin-left: 10px;
  color: #151515;
}

.modal-rating {
  margin-top: 12px;
}

.modal-rating__list {
  margin: 0;
  margin-right: 47px;
  padding: 0;
  list-style: none;
}

.modal-rating__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.modal-rating__item::before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  margin-right: 6px;
  background-image: url(../images/wishlist.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-rating__item:nth-child(2)::before {
  background-image: url(../images/compare.svg);
}

.modal-rating__item:nth-child(3)::before {
  background-image: url(../images/remove.svg);
}

.modal-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-stars__item {
  width: 13px;
  height: 13px;
  margin-right: 5px;
  background-image: url("../images/star-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-stars__item:last-child {
  margin-right: 0;
  background-image: url("../images/star-white.svg");
}

.modal-cost__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-cost__in-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 18px;
  margin-right: 64px;
}

.modal-cost__in-cost-one {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #6A983C;
}

.modal-cost__in-cost-del {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #A9A9A9;
}

.modal-cost__in-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  padding-right: 5px;
  padding-top: 6px;
  padding-left: 5px;
  padding-bottom: 6px;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  background-image: url("../images/ic-chevron-down.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 35px) 50%;
}

.modal-cost__in-select-left {
  margin-right: 6px;
  padding-right: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(121, 115, 115, 0.7176470588);
  border-right: 1px solid #d1d1d1;
}

.modal-cost__in-select-right {
  padding-right: 10px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

@media only screen and (max-width: 440px) {
  .modal-dialog {
    max-width: 370px;
  }
  .modal-content {
    max-width: 370px;
  }
  .modal-cost__in-cost-one {
    font-size: 12px;
  }
}
@media only screen and (max-width: 410px) {
  .modal-dialog {
    max-width: 330px;
  }
  .modal-content {
    max-width: 330px;
  }
  .modal-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-product__img {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .modal-product__info {
    text-align: center;
  }
  .modal-rating {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-stars {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal-cost__in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-rating__list {
    margin-right: 0;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .modal-cost__in-cost {
    margin-right: 0;
  }
  .modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 360px) {
  .modal-dialog {
    max-width: 290px;
  }
  .modal-content {
    max-width: 290px;
  }
}
.hero {
  margin-top: 64px;
}

.hero__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-left {
  width: 268px;
}

.hero-left__drop {
  display: none;
}

.hero-left__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-left__item {
  margin-bottom: 128px;
}

.hero-left__item:last-child {
  margin-bottom: 0;
}

.hero-left__theme {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.hero-left__in-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-left__in-item {
  margin-bottom: 12px;
}

.hero-left__in-item:last-child {
  margin-bottom: 0;
}

.hero-left__in-link {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
}

.hero-left__btn {
  margin-top: 48px;
  padding-top: 13px;
  padding-right: 38px;
  padding-bottom: 13px;
  padding-left: 16px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  border: none;
  background-color: #F5F5F5;
  border-radius: 12px;
  background-image: url("../images/vektor-right.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 70px) 50%;
  cursor: pointer;
}

.hero-right__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-right__item {
  margin-bottom: 148px;
}

.hero-right__item:nth-child(2) {
  margin-bottom: 80px;
}

.hero-right__item:last-child {
  margin-bottom: 0;
}

.hero-right__in-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-right__in-item {
  width: 420px;
  margin-right: 31px;
  padding-top: 48px;
  padding-left: 38px;
  padding-bottom: 32px;
  background-image: url("../images/naqsh.svg");
  background-repeat: no-repeat;
  border-radius: 12px;
  background-color: #F4F8EC;
}

.hero-right__in-item:last-child {
  margin-right: 0;
}

.hero-right__in-text {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}

.hero-right__in-theme {
  margin: 0;
  margin-bottom: 94px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
}

.hero-right__in-btn {
  padding-top: 12px;
  padding-right: 38px;
  padding-bottom: 12px;
  padding-left: 16px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  background-color: transparent;
  border: 2px solid #92C064;
  border-radius: 12px;
  background-image: url("../images/vektor-right-green.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 60px) 50%;
}

.hero-right__in-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-right__in-product-item {
  position: relative;
  padding: 16px;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.hero-right__in-product-item:nth-child(1) {
  padding-bottom: 0;
}

.hero-right__in-product-item .hero-right__span {
  position: absolute;
  top: 12px;
  left: 12px;
  padding-right: 8px;
  padding-left: 8px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background-color: #F4F8EC;
  border-radius: 12px;
}

.hero-right__in-product-item .hero-right__del {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #A9A9A9;
}

.hero-right__in-product-theme {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.hero-right__in-product-text {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}

.hero-right__in-product-underbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-right__in-product-img {
  height: 180px;
  margin-bottom: 16px;
}

.hero-right__cost {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #151515;
}

.hero-right__in-product-btn {
  padding: 7px 12px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
}

.hero-left-btn-box {
  width: 0;
  height: 0;
}

.hero-left-btn-span {
  height: 30px;
  opacity: 0;
  margin-bottom: 15px;
}

.hero-left__second .hero-left .hero-left-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-left__in-link {
  color: #46760A;
}

@media only screen and (max-width: 1120px) {
  .hero-left__second .hero-left .hero-left__in-link {
    color: #fff;
  }
  .hero-left__second .hero-left {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(87, 87, 87, 0.6235294118);
  }
  .hero-left-btn-box {
    width: 0;
    height: 30px;
    margin-bottom: 10px;
  }
  .hero__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-left {
    display: none;
  }
  .hero-left__drop {
    width: 80px;
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: 16px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  .hero-left__drop::after {
    position: absolute;
    top: 0px;
    left: 70px;
    content: "";
    background-image: url("../images/menu-button.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: block;
  }
  .hero-right {
    margin-right: auto;
    margin-left: auto;
  }
  .hero-left__second .hero-left {
    position: absolute;
    top: 220px;
    left: 0;
    padding: 20px;
    z-index: 2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .hero-left__item:first-child .hero-left-close {
    background-image: url("../../images/close.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 90px) 50%;
  }
  .hero-left__second .hero-left__drop {
    z-index: 3;
    position: absolute;
    top: 240px;
    left: 160px;
    opacity: 0;
  }
  .hero-left__theme {
    color: #fff;
  }
}
@media only screen and (max-width: 930px) {
  .hero-left__second .hero-left {
    top: 300px;
  }
  .hero-left__second .hero-left__drop {
    top: 320px;
  }
  .hero-right__in-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
    margin-left: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero-right__in-item:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .hero-right__in-product {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-right__in-product-item {
    margin-right: 10px;
  }
  .hero-right__in-product-item:last-child {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 644px) {
  .hero-left__second .hero-left {
    top: 390px;
  }
  .hero-left__second .hero-left__drop {
    top: 410px;
  }
  .hero-right__in-product-item {
    margin-right: 0;
  }
  .hero-right__in-product-item:nth-child(2) {
    margin-top: 10px;
  }
  .hero-right__in-product-item:nth-child(1) {
    padding-bottom: 16px;
  }
}
@media only screen and (max-width: 470px) {
  .hero-right__in-item {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
}
@media only screen and (max-width: 350px) {
  .hero-right__in-item {
    width: 270px;
  }
  .hero-right__in-product-item {
    width: 250px;
  }
  .hero-right__in-product-img {
    width: 220px;
    height: 150px;
  }
}
.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 60%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.flickity-page-dots {
  display: none;
}

.flickity-slider {
  width: 80%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.gallery-cell {
  width: 47%;
}

.customers__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customers__theme {
  margin: 0;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.customers__btn {
  position: relative;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  border: none;
  background-color: transparent;
}

.customers__btn::after {
  position: absolute;
  top: 8px;
  right: -20px;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../images/vektor-right-green.svg");
  background-repeat: no-repeat;
}

.headline .customers__box {
  margin-top: 64px;
  margin-bottom: 32px;
}

.blog-home {
  padding-top: 142px;
  padding-bottom: 128px;
}

.blog-home__card__one {
  width: 100%;
  max-width: 469px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 65px;
  padding-bottom: 24px;
  background-image: url("../images/blog-post1.jpg");
  background-repeat: no-repeat;
}

.blog-home__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}

.blog-home__subbutton {
  width: 82px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background: #F4F8EC;
  border-radius: 12px;
  border: none;
}

.blog-home__card__two {
  width: 269px;
  margin: 0 31px;
}

.blog-home__subbutton-two {
  margin-top: 24px;
  margin-bottom: 8px;
}

.blog-home__mid-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.blog-home__last-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.blog-home__last-wrapper {
  width: 225px;
}

.blog-home__item {
  width: 370px;
}

@media only screen and (max-width: 1211px) {
  .blog-home__card__one {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .blog-home__card__two-wrapper {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 728px) {
  .blog-home__card__two-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-home__card__two {
    width: 350px;
    max-width: 469px;
    margin: 0 31px;
  }
  .blog-home__card__two:first-child {
    margin-bottom: 50px;
  }
  .blog-home__card__two > img {
    width: 100%;
  }
  .blog-home__card__one {
    width: 100%;
    max-width: 469px;
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 25px;
    background-image: url("../images/blog-post1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .blog-home__item {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}
@media only screen and (max-width: 500px) {
  .blog-home__card__one {
    width: 70%;
    max-width: 469px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 65px;
    padding-bottom: 24px;
    background-image: url("../images/blog-post1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .blog-home__content-wrapper {
    width: 257px;
  }
  .blog-home__subtitle {
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    color: #FFFFFF;
    text-align: start;
  }
  .blog-home__subbutton {
    width: 82px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #6A983C;
    background: #F4F8EC;
    border-radius: 12px;
    border: none;
  }
  .blog-home__card__two {
    width: 237px;
    margin: 0 31px;
  }
  .blog-home__subbutton-two {
    margin-top: 24px;
    margin-bottom: 8px;
  }
  .blog-home__mid-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
  }
  .blog-home__last-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
  }
  .blog-home__last-wrapper {
    width: 225px;
  }
  .blog-home__item {
    width: 260px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}/*# sourceMappingURL=main.css.map */