/* MIXINS */



@mixin btn-green($width) {
  display: inline-block;
  width: $width;
  padding: 12px 6.5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  color: #fff;
  background-color:  #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
}

@mixin txt-format($Ffamily, $Fsize, $Fweight, $Lheight, $color) {
  font-family: $Ffamily;
  font-size: $Fsize;
  font-weight: $Fweight;
  line-height: $Lheight;
  color: $color;
}


@mixin size($size) {
  @if $size == phone {
    @media only screen and (min-width: 320px) { @content; }
  } @else if size == mobile {
    @media only screen and (max-width: 576px) { @content; }
  }@else if $size == tablet {
    @media only screen and (min-width: 768px) { @content; }
  } @else if $size == desktop {
    @media only screen and (min-width: 1200px) { @content; }
  } 
}



@mixin  bgRetina{
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    @content;
  }
}

@mixin text-end{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}






